__pycache__/
*.pyc
*.pyo
*.pth
*.pt
*.ckpt
.ipynb_checkpoints/
.venv/
venv/
env/
datasets/
data/
outputs/
runs/
logs/
wandb/
honeycomb_test/
pretrained_checkpoint/
checkpoints/
checkpoints_stage_1/
train_log_stage_2/
.DS_Store
